.body {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fafafa;
  overflow: hidden;
  max-width: 100%;
}

.contents {
  padding-top: 2rem;
  font-size: 1rem;
}

.projects {
  perspective: 300px;
  z-index: auto;
  position: relative;
  max-width: 100%;
  max-height: 100vh;
}

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 20vh;
  left: 0;
  top: 100%;
  border-top: 1px solid;
  border-color: #eeeeee;
  background-color: #fafafa;
  box-shadow: 0px -15px 30px 0px rgba(8, 7, 33, 0.08);
  color: #0a0a0a;
  transition: all 0.8s ease-in-out;
  transform: translateY(-100%);
  opacity: 100;
}
.nav .cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.7s ease-in-out;
}
.nav .contents {
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}

.navHidden {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(0);
  opacity: 0;
}

.navActive {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 6.5vh;
  z-index: 999;
  border: none;
  background-color: #fafafa;
  transition: all 0.6s ease-in-out;
  border-top: 1px solid;
  border-color: #eeeeee;
  box-shadow: 0px -15px 30px 0px rgba(8, 7, 33, 0.08);
}
.navActive .cover {
  width: 100vw;
  height: 6.5vh;
  position: fixed;
  top: 0;
  transition: all 0.7s ease-in-out;
}
.navActive .contents {
  transition: opacity 0.7s ease-in-out;
  opacity: 100%;
}

.nav_grid_container {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem 2rem 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "r1 r2";
  grid-gap: 0.125rem 1rem;
  position: relative;
}
.nav_grid_container .nav_grid_1 {
  grid-area: r1;
}
.nav_grid_container .nav_grid_2 {
  grid-area: r2;
}
.nav_grid_container .nav_menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.folder1 {
  margin-top: 10vh;
  position: relative;
  top: -10vh;
  height: 100vh;
  transform-origin: top;
  transform: rotateX(-4deg) translateZ(0);
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  background: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}
.folder1:hover {
  transform: rotateX(0deg);
  top: -12vh;
}

.folder2 {
  position: relative;
  top: -90vh;
  height: 100vh;
  transform-origin: top;
  transform: rotateX(-4deg) translateZ(0);
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  background: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}
.folder2:hover {
  transform: rotateX(0deg);
  top: -95vh;
}

.folder3 {
  position: relative;
  top: -170vh;
  height: 100vh;
  transform-origin: top;
  transform: rotateX(-4deg) translateZ(0);
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  background: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}
.folder3:hover {
  transform: rotateX(0deg);
  top: -175vh;
}

.folder4 {
  position: relative;
  top: -250vh;
  height: 100vh;
  transform-origin: top;
  transform: rotateX(-4deg) translateZ(0);
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  background: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}
.folder4:hover {
  transform: rotateX(0deg);
  top: -255vh;
}

.folderActive {
  margin-top: 0vh;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  position: relative;
  top: 0px;
  height: 200vh;
  background-color: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  transform: rotateX(0deg);
  z-index: 1000;
  top: 0;
  overflow-y: hidden;
}

.folderClose {
  position: relative;
  top: 100vh;
  height: 0px;
  transform-origin: top;
  transform: rotateX(-8deg) translateZ(0);
  transition: all 0.5s ease-in-out;
  max-width: 100%;
  background: linear-gradient(90deg, #fafafa 100%, #fafafa 0%);
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}

.folderHide {
  transform: rotateX(-45deg) rotateZ(0deg);
  transition: all 0.5 ease-in-out;
  position: relative;
  top: 0px;
  width: 100%;
  height: 1.5vh;
  margin-top: 0;
  border-top: 1px solid;
  border-color: #eeeeee;
  box-shadow: 0px -10px 10px 0px rgba(8, 7, 33, 0.08);
}
.folderHide .grid_container .grid_1 {
  opacity: 0%;
}
.folderHide .grid_container .grid_2 {
  opacity: 0%;
}

.grid_container {
  color: #0a0a0a;
  border-color: #eeeeee;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem 2rem 6rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "r1 r2";
  grid-gap: 0.125rem 1rem;
  position: relative;
}
.grid_container .grid_1 {
  grid-area: r1;
  opacity: 100%;
}
.grid_container .grid_2 {
  grid-area: r2;
  opacity: 100%;
}

.link {
  border-bottom: 1px solid 10;
}

.link:hover {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 1px solid 10;
  border-color: #FF4D40;
}

.link:visited {
  color: #0a0a0a;
}

.subText {
  color: #888888;
}/*# sourceMappingURL=projects.module.css.map */