  .tab{
    background-color:rgba(156, 163, 175, 0);
    
    &.active {
      padding-bottom: 2rem;
      width: 100%;; // rounded-[4px] in Tailwind
    }
  }
  
  
  
  .magnetictab {
    text-align: left;
    display: block;
    background: none;
    position: relative;
    height: auto; // 9 units (h-9 in Tailwind)

    
  
    .tabtext {
      position: relative;
      padding: 0.5rem 0.5rem 1rem 0rem; // px-4 py-2 in Tailwind
      color: #939fb0; // text-zinc-600 in Tailwind
      transition: color 0.2s; // transition-colors in Tailwind

      &.active {
        color: #1f2937;
      }

      &:hover {
        color: #1f2937; // hover:text-zinc-900 in Tailwind
      }
  
      // Dark theme styles
      .dark & {
        color: #9ca3af; // dark:text-zinc-400
        &:hover {
          color: #f9fafb; // dark:hover:text-zinc-100
        }
      }
    }
  
    .tabbackground {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -10;
      height: 100%;
      width: 100%;
      border-radius: calc(4*calc(.1vw)); // rounded-[4px] in Tailwind
      background-color: rgba(156, 163, 175, 0.5); // bg-zinc-200/80 in Tailwind
      transition: opacity 0.2s; // transition-opacity in Tailwind
  
      // Dark theme styles
      .dark & {
        background-color: rgba(31, 41, 55, 0.5); // dark:bg-zinc-800/80
      }
    }
  }


  .tabContent {
      transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1);
      overflow-y: hidden;
      max-height: 0; // 기본 상태는 접혀있음

  }
  
  .tabArrow {
    display: inline-block;
    padding-left: 0.4rem;
    font-family: "SF Mono";
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1);
    transform: rotate(0);

      &.active {
        transform: rotate(-180deg);
      }

  }