/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a{
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body{
  cursor: url("/cursor.svg") 32 32, auto;
  background-color:#E5E5E5;
}

@font-face {
  font-family: "SF Pro Rounded S";
  src: url("https://db.onlinewebfonts.com/t/c8c787212fa5e3ccd47fedb8dcd705e6.eot");
  src: url("https://db.onlinewebfonts.com/t/c8c787212fa5e3ccd47fedb8dcd705e6.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/c8c787212fa5e3ccd47fedb8dcd705e6.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/c8c787212fa5e3ccd47fedb8dcd705e6.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/c8c787212fa5e3ccd47fedb8dcd705e6.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  word-spacing: normal;
}

@font-face {
  font-family: "SF Pro Rounded M";
  src: url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.eot");
  src: url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/c308bda9ff13c5239c99b48dc147bde0.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  word-spacing: normal;
}

@font-face {
  font-family: "SF Pro Rounded R";
  src: url("https://db.onlinewebfonts.com/t/32503dccd02ba31038f9061808776f55.eot");
  src: url("https://db.onlinewebfonts.com/t/32503dccd02ba31038f9061808776f55.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/32503dccd02ba31038f9061808776f55.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/32503dccd02ba31038f9061808776f55.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/32503dccd02ba31038f9061808776f55.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  word-spacing: normal;
}

.Regular{
  font-family: "SF Pro Rounded R";
  font-weight: 400;
}

.Medium{
  font-family: "SF Pro Rounded M";
  font-weight: 500;
}

.Semibold{
  font-family: "SF Pro Rounded S";
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}